<!DOCTYPE html>
<html>
<head>
    <meta charset = "utf-8">
    <title>Knjiznica</title>

</head>
<body>
    <h1>Knjižnica</h1>
    <div id="sidebar">
        {% block sidebar %}

        <ul>  
            <li><a href="">Naslovna</a></liv>
            <li><a href="/Autors">Autor</a></liv>
            <li><a href="/Knjigas">Knjiga</a></liv>
            <li><a href="/Clanstvo">Članstvo</a></liv>
            <li><a href="/Kategorija">Kategorija</a></liv>
            <li><a href="/Zanr">Žanr</a></liv>
        </ul>
        
        {% endblock %}
    </div>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>